<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Hospital</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">

          <li><a class="nav-link" href="">Hospital</a></li>
          <li><a class="nav-link" href="{% url 'hospital_home_page' %}">HOME</a></li>
          <li><a class="nav-link" href="">About</a></li>
          <li><a class="nav-link" href="{%url 'patient:patient_home'%}">Patient</a></li>
          </li>
        </ul>
        <form action ="{% url 'patient:patient_search' %}" method ="get" class="d-flex" role="search">
          <input name="user_search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% if request.session.user %}
          <a href="{% url 'patient:logout'%}" class="btn btn-outline-danger ml-2">Log out</a>
        {% else %}
          <a href="{% url 'patient:login'%}", class="btn btn-outline-info ml-2">Login</a>
          <a href="{% url 'patient:signup'%}", class="btn btn-outline-success ml-2">Signup</a>
        {% endif %}
      </div>
    </div>
  </nav>

  {% block 'contant' %}

  <img src="{% static 'hospital\img\hospital.jpg' %}" class="rounded mx-auto d-block" width="50%" alt="image not found">
  <p>Hospital, an institution that is built, staffed, and equipped for the diagnosis of disease; for the treatment,
    both medical and surgical, of the sick and the injured; and for their housing during this process</p>

  <div>
    {% if heading %}
    <h1 class="text-center">{{heading}}</h1>
    {% else %}
    <h1 class="text-center">Register Youreself</h1>
    {% endif %}

    <form class="border rounded p-3" 
    {% if not patient%}
    action="{% url 'patient:patient_registration' %}"  {% endif %}method="post">
      {% csrf_token %}
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">First Name</label>
        <input type=" text" class="form-control" id="exampleFormControlInput1" placeholder="name" name="first_name" value="{{patient.first_name}}">
      </div>
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Last Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="last name" name="last_name" value="{{patient.Last_name}}">
      </div>
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Age</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="age" name="age"  value="{{patient.age}}">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email" name="email"  value="{{patient.email}}">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Disease</label>
        <input type="Disease" class="form-control" id="exampleFormControlInput1" placeholder="Disease" name="disease"  value="{{patient.disease}}">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
 

  </div>
  {% endblock 'contant'%}























  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>

</body>

</html>