{% extends 'hospital.html' %}
{% block 'contant' %}
<form method="post">
  {% csrf_token %}
    <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Username</label>
        <input type=" text" class="form-control" id="exampleFormControlInput1" placeholder="name" name="username">
      </div>
     
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password </label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="password" name="password" >
       
      </div>
     

      <button type="submit" class="btn btn-primary">Submit</button>
      <p>Have an account ?<a href="{% url 'patient:signup' %}"></a></p>
</form>

{% endblock 'contant'%}